{% extends 'base.html' %}
{% block content %}
    {{super() }}

    <div class="h-full bg-gray-200 p-8">
     
           
            <div class=" text-left flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
                
                <div class="flex items-center space-x-4 mt-2">
                    
                  <a href="{{url_for('enroll', course_id=course.course_id)}}">
                    <button class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
                        </svg>
                        <span>Enrollment</span>
                    </button>
                    </a>
                 
                </div>
            </div>
        
<!------------------------------------------------------------------------------------------------>
        <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
            <div class="w-full flex flex-col 2xl:w-1/3">
                <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                    <h4 class="text-xl text-gray-900 font-bold">Basic Information</h4>
                    <ul class="mt-2 text-gray-700">
                        <li class="flex border-b py-2">
                            <span class="font-bold w-60">Course Name: </span>
                            <span class="text-gray-700">{{ course.course_name }}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-60">Course Category: </span>
                            <span class="text-gray-700">{{ course.course_category }}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-60">Course Instructor: </span>
                            <span class="text-gray-700"> {{ course.course_instructor }}</span>
                            
                        </li>       
                        <li class="flex items-center border-b py-2 space-x-2">
                            <span class="font-bold w-60">Total Course Hours: </span>
                            <span class="text-gray-700">  {{ course.total_course_hours}}</span>
                        </li>
                        <li class="flex items-center border-b py-2 space-x-2">
                            <span class="font-bold w-60">Course Description: </span>
                            <span class="text-gray-700">  {{ course.course_description}}</span>
                         
                            
                        </li>
                    </ul>
                </div>         
            </div>
            <div class="flex flex-col w-full 2xl:w-2/3">
                <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                    <h4 class="text-xl text-gray-900 font-bold">Syllabus</h4>
                    <p class="mt-2 text-gray-700">{{ course.course_syllabus}}</p>
                </div>         
            </div>
        </div>
<!------------------------------------------------------------------------------------------------------>
        <div class="bg-white rounded-lg shadow-xl p-8">
            <div class="flex items-center justify-between">
                <h4 class="text-xl text-gray-900 font-bold">Courses (532)</h4>

                
               
            </div>
      
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-8 gap-8 mt-8">
              
                {% for course in Courses %}
                {{ course.course_id }}
                <a href="#" class="flex flex-col items-center justify-center text-gray-800 hover:text-blue-600" title="View Profile">
                    <img src="{{ url_for('static', filename='profile_pics/' + course.course_image)}}" class="w-16 rounded-full">
                    <p class="text-center font-bold text-sm mt-1">{{ course.course_name }}</p>
                    <p class="text-xs text-gray-500 text-center">{{ course.course_category }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
<!-------------------------------------------------------------------------------------------------------->
    </div>
 {% endblock %}