 html {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            overflow-x: hidden;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
          
          *, *:before, *:after {
            -webkit-box-sizing: inherit;
            -moz-box-sizing: inherit;
            box-sizing: inherit;
          }
          
          body {
            margin: 0;
            padding: 0;
            text-rendering: optimizeLegibility;
            overflow-x: hidden;
            font-family: 'Lato';
          }
          
          .container{
            width: 85%;
            margin: auto;
          }
          
          a, a:hover, a:active, a:visited, a:focus {
            text-decoration: none;
          }
          
          button, button:hover, button:active, button:visited, button:focus {
            outline: 0;
          }
          
          
        .container button:not(.btn-lang-footer):not(.btn-send-footer):not(.homepage-seecourses):not(.module-btn):not(.btn-download) {
            height: 45px;
            width: auto;
            padding: 0 35px;
            border-radius: 4px;
            color: #6c6c6c;
            border: 1px solid #c6c6c6;
            text-transform: uppercase;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: bold;
            line-height: 22px;
            text-align: center;
            transition: 0.3s cubic-bezier(.25,.8,.95,1);
            transition: padding 0s;
            background:transparent;
              &:hover{
              background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
              color:#fff;
              border: 1px solid #7B00B9;
              }
              @media (min-width: 320px) and (max-width: 768px){
                  &:hover{
                  background: transparent;
                      //linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
                  color:#6c6c6c;
                  border: 1px solid #c6c6c6;
                  }
              }
          
          }
          
          
          /* NEW COURSES */
          
          div.sde-courses {
            //padding:90px 0;
          }
          
          .sde-courses .container .row .courses-parent {
            display:flex;
            flex-wrap:wrap;
            justify-content: flex-start;
            align-items: center;
            width:100%;
            height:auto;
          }
          
          .sde-courses .container .row .courses-parent .item {
          width:31.3%;
          height:320px;
          border-radius:4px;
          position:relative;
          //overflow:hidden;
          }
          
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(1),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(3),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(4),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(6),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(7),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(9),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(10) {
          margin:1%;
          }
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(2),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(5),
          .sde-courses .container .row .courses-parent .item:not(.hidden):nth-child(8) {
          margin:1%;
          }
          
          /*COURSE IMAGE*/
          .sde-courses .container .row .courses-parent .item:nth-child(1) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)), url('Picture1.png') no-repeat center/cover ;
          }
          .sde-courses .container .row .courses-parent .item:nth-child(2) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),url('../img/cursos/2.jpg') no-repeat center/cover ;
          }
          .sde-courses .container .row .courses-parent .item:nth-child(3) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),url('../img/cursos/3.jpg') no-repeat center/cover ;
          }
          .sde-courses .container .row .courses-parent .item:nth-child(4) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),url('../img/cursos/4.jpg') no-repeat center/cover ;
          }
          .sde-courses .container .row .courses-parent .item:nth-child(5) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),url('../img/cursos/5.jpg') no-repeat center/cover ;
          }
          .sde-courses .container .row .courses-parent .item:nth-child(6) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),url('../img/cursos/6.jpg') no-repeat center/cover ;
          }
          .sde-courses .container .row .courses-parent .item:nth-child(7) a {
          background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),url('../img/cursos/7.jpg') no-repeat center/cover ;
          }
          
          .sde-courses .container .row .courses-parent .item a{
            position: absolute;
            height:100%;
            width:100%;
            transition:0.25s ease-out;
            transition-delay:0.35s;
            overflow: hidden;
          }
          .sde-courses .container .row .courses-parent .item a:hover{
          /* background-position-x: -3px;
          transition:0.35s cubic-bezier(.17,.67,.07,1.2); */
          
          }
          
          .sde-courses .container .row .courses-parent .item .info {
            position:absolute;
            bottom:0;
            left:0;
          }
          
          .sde-courses .container .row .courses-parent .item .info .tag {
          display: inline-block;
          width:auto;
          border-radius:20px;
          padding:6px 18px;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:#fff;
          font-size:14px;
          background:#642F79;
          margin-bottom:12px;
          transition:0.25s ease-out;
          margin-left:24px;
          }
          .sde-courses .container .row .courses-parent .item a:hover .tag {
          color:#642F79;
          background:#ccc;
          transition:0.35s cubic-bezier(.17,.67,.07,1.08);
          }
          
          .sde-courses .container .row .courses-parent .item .info .course-name {
          display: block;
          text-align: left;
          text-transform: uppercase;
          font-family: 'Montserrat';
          color:#fff;
          font-size:24px;
          line-height:32px;
          font-weight:700;
            padding:0 24px;
          }
          
          .sde-courses .container .row .courses-parent .item a:hover .course-name {
          color:#ccc;
          }
          
          .sde-courses .container .row .courses-parent .item .info .course-info {
          display: block;
          text-align: left;
          font-family: 'Lato';
          color:#fff;
          font-size:16px;
          line-height:24px;
          font-weight:400;
          margin-top:12px;
            padding:0 24px;
          }
          .sde-courses .container .row .courses-parent .item a:hover .course-info {
          color:#ccc;
          }
          
          .sde-courses .container .row .courses-parent .item .info .course-details {
            display: inline-block;
            text-align: center;
            font-family: 'Montserrat';
            color:#fff;
            font-size:16px;
            line-height:24px;
            font-weight:600;
            margin-top:0px;
            text-transform:uppercase;
            width:100%;
            padding:8px 12px;
            background:#642F79;
            transform:translateY(80px);
            transition:0.25s ease-out;
            }
            .sde-courses .container .row .courses-parent .item a:hover .course-details {
              transform:translateY(0);
              padding:16px 24px;
              transition:0.45s cubic-bezier(.17,.67,.07,1.08);
              margin-top:32px;
            }
          
          @media (min-width:767px) and (max-width:1200px){
            .sde-courses .container .row .courses-parent .item:nth-child(odd) {
              margin:1%;
            }
            .sde-courses .container .row .courses-parent .item:nth-child(even) {
              margin:1%;
            }
            .sde-courses .container .row .courses-parent .item {
              width:48%;
            }
          }
          
          @media (min-width:320px) and (max-width:767px){
            .sde-courses .container .row .courses-parent .item:nth-child(odd) {
              margin: 10px 0;
            }
            .sde-courses .container .row .courses-parent .item:nth-child(even) {
              margin: 10px 0;
            }
            .sde-courses .container .row .courses-parent .item {
              width:100%;
              margin-bottom:25px !important;
            }
          }
          
          /* COURSES ** CURSOS */
          
          
          .item.inactive{
              opacity: 0.3;
          }
          .item{
              transition: all 0.3s;
              position: relative;
              &.lisbon, &.oporto, &.miami{
                  transition: all 0.5s !important;
          
              }
              &.course-hidden{
                  width: 0px !important;
                  height: 0px !important;
                  opacity: 0 !important;
                  margin: 0px !important;
              }
              .seats-left{
                  z-index: 500;
                  position: absolute;
                  left: -10px;
                  top: 20px;
                  height: 55.63px;
                  width: 130px;
                  border-radius: 0 2px 2px 0;	background: linear-gradient(212.82deg, #FF057C 0%, #321575 100%);
                  display: flex;
                  flex:1;
                  align-items: center;
                  justify-content: space-around;
                  .seats-number{
                      color: #FFFFFF;
                      font-family: 'Lato';
                      font-size: 40px;
                      font-weight: 300;
                      line-height: 49px;
                      text-align: center;
                  }
                  .seats-desc{
                      color: #FFFFFF;
                      font-family: 'Montserrat';	font-size: 16px;
                      font-weight: 600;
                      line-height: 17px;
                  }
          
              }
              .effect3d{
                position: absolute;
                left: -10px;
                top: 65px;
                z-index: 499;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #48006F;
              }
          }
          
          
          .item-with-desc{
              padding-top: 50px;
              padding-bottom: 20px;
              width: 98% !important;
              height:auto !important;
              opacity: 1;
              order: 2;
              transition: all 0.5s;
          
              &.hide-info{
                  margin-top: 0px !important;
                  margin-bottom: 0px !important;
                  padding-top:0px;
                  padding-bottom: 0px;
                  height: 0px !important;
                  opacity: 0;
                  transition: 1s;
              }
          
              .head-desc{
                  padding-left: 10px;
                  padding-right: 10px;
                  display: flex;
                  justify-content: space-between;
                  .course-name{
                      text-transform: uppercase;
                      color: #390E6E;
                      font-family: 'Montserrat';
                      font-size: 24px;
                      font-weight: bold;
                      line-height: 29px;
                  }
                  .close{
                      color: #6B00A5;;
                      opacity: 1;
                  }
              }
              hr{
                  height: 1px;
                  background-color: #d8d8d8;
              }
              .body-desc{
                  padding-left: 10px;
                  padding-right: 10px;
                  color: #6C6C6C;
                  font-family: 'Lato';
                  font-size: 22px;
                  line-height: 34px;
          
                  .subtitle{
                      padding-bottom: 20px;
                      padding-top: 50px;
                      color: #390E6E;
                      font-family: 'Montserrat';	font-size: 20px;
                      font-weight: bold;
                      line-height: 24px;
                  }
                  .course-goals{
                      font-size: 20px;
                      line-height: 31px;
                  }
              }
              .more-info{
                  padding-left: 10px;
                  padding-right: 10px;
                  padding-top: 50px;
                  padding-bottom: 80px;
          
                  button{
                      // height: 50px;
                      // width: 220px;
                      // border-radius: 2px;
                      // background-color: #390E6E;	background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
                      // color: white;
                      // text-transform: uppercase;
                      // font-family: 'Montserrat';	font-size: 18px;
                      // font-weight: bold;
                      // line-height: 22px;
                      // text-align: center;
                      //
                      // &:hover{
                      //     opacity: 0.7;
                      // }
                  }
              }
          }
          
          
          .sde-courses.courses-page{
              padding-top: 90px;
              padding-bottom: 90px;
          }
          
          @media (min-width:320px) and (max-width:768px){
              .sde-courses.courses-page{
                  padding-top: 60px;
                  padding-bottom: 60px;
              }
          }
          
          
          .sde-courses .row.filters{
              display: flex;
              justify-content: space-between;
              padding: 0px 15px;
              flex:1;
          
              .filters-left{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  width: 100%;
          
              }
          
              .filter-text{
                      padding-bottom: 4px;
                      padding-right: 25px;
                      color: #898989;
                      font-family: 'Lato';
                      font-size: 18px;
                      line-height: 28px;
                  a{
                      color: #898989;
                  }
          
              }
          
          
              .filters-right{
                  display:flex;
                  justify-content: flex-end;
                  align-items: center;
                  .clear{
                      padding-right: 0px;
                      button.btn-clear{
                          background: #eee;
                          color: rgba(108, 108, 108, 0.5);
                          border: 0;
                          &:hover{
                              background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%);
                              color:#fff;
                              border: 1px solid #7B00B9;
          
                          }
          
                      }
          
                  }
          
              }
          
          }
          
          @media (min-width:320px) and (max-width:768px){
              .sde-courses .row.filters{
                  flex-wrap: wrap;
                  .filters-left{
                      width: 100%;
                      flex-wrap: wrap;
          
                      button{
                              margin-left: 0;
                              margin-right: 10px;
                      }
                  }
                  .filter-text{
                      width: 100%;
                          padding-bottom: 4px;
                          padding-right: 25px;
                          color: #898989;
                          font-family: 'Lato';
                          font-size: 18px;
                          line-height: 28px;
          
                      a{
                          color: #898989;
                      }
                  }
                  .filters-right{
                      display:flex;
                      justify-content: flex-end;
                      align-items: center;
                      .clear{
                          margin-top: 20px;
                          padding-right: 0px;
          
                          button.btn-clear{
                              background: #eee;
                              color: rgba(108, 108, 108, 0.5);
                              border: 0;
          
                              &:hover{
                                  background: #eee !important;
                                  color: rgba(108, 108, 108, 0.5) !important;
                                  border: 0 !important;
                              }
                          }
                      }
          
                  }
              }
          }
          
          button.checkbutton{
              margin: 5px;
              position: relative;
              &.selected{
                  background: linear-gradient(216.73deg, #7B00B9 0%, #7323DC 100%) !important;
                  color:#fff !important;
                  border: 1px solid #7B00B9 !important;
                  position: relative;
                  padding-left: 25px !important;
                  padding-right: 13px !important;
          
                  &:hover{
                      opacity: 0.90;
                  }
              }
          
              &.selected::after{
                 //position: absolute;
                 //top:0;
                 //right: 10px;
                 content: '\f057';
                 font-family: FontAwesome;
                 font-weight: normal;
                 font-style: normal;
                 margin:0px 0px 0px 20px;
                 text-decoration:none;
              }
          }
          